<!DOCTYPE html>
<html>
  <body>

  <form action="/">
    Sum:<br>
    <input type="text" name="sum">
    <br><br>
    Result:<br>
    <%= result %>
    <br><br>
    Email:<br>
    <input type="text" name="email">
    <br><br>
    <input type="submit" value="OK">
  </form>

  </body>
</html>
